node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
cypress/videos
cypress/screenshots
cypress/downloads
# Environment variables
.env
.env.*

# Testing coverage
coverage/

# Original files (e.g. from git merge or formatting tools)
*.orig

# Node compile cache
node-compile-cache/
